In [3]:
print("hello world")
print(13)
print(13.5)

hello world
13
13.5

In [ ]:
a=10                      #valid
apple=10                  #valid
_apple=10                 #valid 
apple1=10                 #valid
1apple=10                 #invalid

Variable names can only contain letters, digits and underscores (_).
A variable name cannot start with a digit.
Variable names are case-sensitive (myVar and myvar are different).
Avoid using Python keywords (e.g., if, else, for) as variable names

a=10 #int
b=1.5 #float
c='red' #string
d="red" #string    
e='''red''' #string  
f=5+3j #complex number  
g=True #boolean
h=False #boolean
i=none  #none

j=[1,2,3] #list
k=(1,2,3) #tuple
l={a:1,b:2} #dictionary

In [26]:
a=10 #int
b=6 #float
c='red' #string
d="red" #string    
e='''red''' #string  
f=5+3j #complex number  
g=True #boolean
h=False #boolean
i=None  #none

j=[1,2,3] #list
k=(1,2,3) #tuple
l={a:1,b:2} #dictionary

In [ ]:
type(a)

type(b)
type(c)
type(d)
type(e)
type(f)
type(g)
type(i)
id(a)

NoneType

In [14]:
type(1) #this function is to find the datatype of the variable
id(a)   #this is the function gives the memory adress of the variable

140727155062168

In [ ]:
# operators
print(a+b)      #addition
print(a-b)      #subtraction
print(a*b)      #multiplication
print(a/b)      #division
print(a**b)     #exponent
print(a%b)      #percentile
print(a//b)     #floor division

16
4
60
1.6666666666666667
1000000
4
1

In [ ]:
#assignment operators
a=10 #assignment
a+=10   
print(a)

a+=10 (a=a+10)
a-=10
a*=10
a/=10
a**=10
a//=10

20

In [32]:
#relationaloperators
a=10
b=5

print(a==b)     #equal to
print(a<b)      #less than
print(a>b)      #greater than
print(a!=b)     #not equal to
print(a<=b)     #less than or equal to
print(a>=b)     #greater than or equal to

False
False
True
True
False
True

In [ ]:
#logical operators
print((b<a) and (b!=a))
print((a<b) or (b==a))
print(not (a<b)) 
print((a<b) and (b!=a))


print(False and True)
print(False or True)

In [ ]:
#bitwise operators      #negation -(n+1)(~)


print(5 & 3)    #binary and
print(5 | 3)    #binary or
print(~5)       #negation
print(5 ^ 3)    #binary XOR
print(5<<1)     #left shift (shifting decimal places one by one to the left side)
print(5>>1)     #right shift (shifting decimal places one by one to the right side)

1
7
-6
6
10
2

In [14]:
#input function
a=input("enter a value")
b=10

sum=a+b
print(sum)

TypeError: can only concatenate str (not "int") to str

In [18]:
#input function
a=int(input("enter a value"))       #typecasting- data type function
b=10

sum=a+b
print(sum)      #output function

16

In [17]:
#input function
a=float(input("enter a value"))       #typecasting- data type function
b=10

sum=a+b
print(sum)      #output function

16.5

In [27]:
print(1)
print(1.5)
print("red")
print("enter a value")
print(sum)
print("the sum of the 2 numbers is",sum)
print(a,b)
print("Hello World",sep="@")
print("hello","World",sep="@")
print("Hello","World",sep="#")
print("19","12","2025",sep="-")
print("hello",end="...")
print("World")
print("Her age was",sum,"Her id was",a)
print(f"Her age was {sum} and her id was {a}")  #f -string formatting

1
1.5
red
enter a value
16
the sum of the 2 numbers is 16
6 10
Hello World
hello@World
Hello#World
19-12-2025
hello...World
Her age was 16 Her id was 6
Her age was 16 and her id was 6

f-string formatting types-
variable {x}
expression {x+y}
precision {x:.2f}
width {x:8}
alignment {x:^8}
padding {x:*^8}
zero padding {x:05}
percentage {x:.2%}
commas {x:,}

In [ ]:
print(f"the sum of numbers is {a+b}")   #expression
price=3600.78965
print(f"{price:.2f}")   #precision

x=42
print(f"{x:7}")     #width

p="python"
print(f"|{p:<15}|")     #left alignment
print(f"|{p:>15}|")     #right alignment
print(f"|{p:^15}|")     #centre alignment


print(f"{42:*<6}")      #padding
print(f"{42:*>6}")
print(f"{42:*^6}")



value=3.5
print(f"{value:07.2f}")     #zero padding 


ratio=0.7865
print(f"{ratio:.2%}")          #percentage formatting



salary=125000       #commas (thousand seperator)
print(f"{salary:,}")
print(f"{salary:,.2f}")

the sum of numbers is 16
3600.79
     42
|python         |
|         python|
|    python     |
42****
****42
**42**
0003.50
78.65%
125,000
125,000.00

[9:04 am, 2/2/2026] Srilakshmi Trainer V Tricks Vijayanagar: | *Operator Type*                                          | *Associativity* | *Example*   | *Explanation*                      |
| ---------------------------------------------------------- | ----------------- | ------------- | ------------------------------------ |
| +, -, *, /, //, %, and, or, ==, > etc. | **Left to Right** | 10 - 4 + 2  | Evaluated as (10 - 4) + 2          |
| =, +=, -=, /=, etc.| **Right to Left** | x = y = 10  | Assigns 10 to y, then x          |
| ** (Exponentiation)| **Right to Left** | 2 ** 3 ** 2 | Evaluated as 2 ** (3 ** 2) = 512 |
| Unary operators (+x, -x, ~x)| *Right to Left* | -~5         | -(-6) = 6                        |
| *Precedence Level* | *Operators*                                           | *Example*       |             |    |
| -------------------- | ------------------------------------------------------- | ----------------- | ----------- | -- |
| 1                    | () Parentheses                                        | (3 + 2) * 4     |             |    |
| 2                    | ** Exponentiation                                     | 2 ** 3 ** 2     |             |    |
| 3                    | +x, -x, ~x Unary plus, minus, bitwise NOT             | -5, ~2        |             |    |
| 4                    | *, /, //, %                                           | 10 / 2 * 3      |             |    |
| 5                    | +, - (Addition, Subtraction)                          | 5 + 3 - 2       |             |    |
| 6                    | <<, >> (Bitwise shift)                                | 4 << 1          |             |    |
| 7                    | & Bitwise AND                                         | a & b           |             |    |
| 8                    | ^, `                                                  | ` Bitwise XOR, OR | a ^ b, a | b |
| 9                    | Comparison operators (<, >, <=, >=, !=, ==)           | a > b           |             |    |
| 10                   | not                                                   | not True        |             |    |
| 11                   | and                                                   | a and b         |             |    |
| 12                   | or                                                    | a or b          |             |    |
| 13                   | Assignment (=, +=, -= etc.)                           | x += 2          |             |    |
| 14                   | , (comma)                                             | a, b = 1, 2     |             |    |

| *Aspect*                         | *Operator Precedence*                                                                        | *Operator Associativity*                                                                                            |
| ---------------------------------- | ---------------------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------- |
| *Meaning*                        | Decides *which operator is evaluated first* when multiple operators appear in an expression. | Decides *the order (direction)* in which operators of the *same precedence* are evaluated.                        |
| *Purpose*                        | To determine priority among different operators.                                             | To determine direction of execution when priority is the same.                                                      |
| *Example (different precedence)* | 2 + 3 * 4 → * has higher precedence, so → 2 + (3*4) → 14.                              | 10 - 5 + 2 → both - and + have same precedence, so associativity (left → right) decides → (10 - 5) + 2 → 7. |
| *Order of Importance*            | Multiplication, Division, etc. before Addition, Subtraction.                                   | Left-to-right or Right-to-left evaluation among same-level operators.                                                 |
| *Mnemonic*                       | “Who goes first.”                                                                              | “Which direction to go.”

In [11]:
#string
#indexing

a="apple"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])


#negative indexing
print(a[-1])


#slicing 
# #ranging strings from the given strings

print(a[0:3])
print(a[0:2])
print(a[0:4])
print(a[0:5])

a
p
p
l
e
e
app
ap
appl
apple

In [10]:
#range=[start:stop:step]
b="this is python class 3"


print(b[8])
print(b[0:8])
print(b[0:8:3])

p
this is
tss

In [ ]:
#negative indexing
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[:])
print(b[0:])
print(b[::-1])      #reversing of a string(whole)

e
l
p
p
a
apple
this is python class 3
3 ssalc nohtyp si siht

#ESCAPE SEQUENCE CHARACTERS

In [31]:
print("This is also\na string") #\n
print('This is his book and his book\'s color is red')     #\'  
print("This is \ra string")     #\r carriage return
print("second string\\")        #backslash
print("second st\tring")        #\t tab
print("second\tstring")         #\t tab
print("second\bstring")         #\b backspace
print("second st\bring")        #\b backspace

This is also
a string
This is his book and his book's color is red
a string
second string\
second st	ring
second	string
seconstring
second sring

#list methods
append 
remove 
delete
extend
insert 
pop
clear
index
count
sort
reverse
copy
deepcopy

In [8]:
a=[1,2,3,4]     #append - to add elements into the list
a.append(5)
print(a)

b=[6,7,8]
a.append(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [6, 7, 8]]

In [6]:
#extend - to add multiple elements into the list
a=[1,2,3,4,5]
a.extend([6,5,6])
print(a)

b=[9,10,11]
b.extend(a)
print(b)

[1, 2, 3, 4, 5, 6, 5, 6]
[9, 10, 11, 1, 2, 3, 4, 5, 6, 5, 6]

In [ ]:
#Index

a=[1,2,3,4,5]
a.index(4)


#insert

a.insert(0,1)       #insert(index position ,element to insert)
print(a)

[1, 1, 2, 3, 4, 5]

In [12]:
#pop
a.pop()
print(a)
a.pop(0)
print(a)

[1, 1, 2, 3]
[1, 2, 3]

In [13]:
#remove
a=[1,2,3,4,5]
a.remove(4)
print(a)

[1, 2, 3, 5]

In [14]:
#clear
a=[1,2,3,4,5]
a.clear()
print(a)

[]

In [16]:
#count
a=[1,2,3,4,5,6,7,8,8,9,10,11,43]
a.count(8)

2

In [19]:
#sort
a.sort()
print(a)

a.sort(reverse=True)
print(a)

a.reverse()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10, 11, 43]
[43, 11, 10, 9, 8, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10, 11, 43]

In [28]:
#copy
a=[1,2,3,4]
b=a.copy()
print(b)

a.append(5)
print(a)
print(b)

a=[1,2,3,4,[5,6]]
b=a.copy()
print(a)
b[4][0]=100    
print(b)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [100, 6]]
[1, 2, 3, 4, [100, 6]]

In [ ]:
import copy     #deepcopy
a=[1,2,3,4,[5,6]]
b=copy.deepcopy(a)
print(b)

b[4][0]=100     #position deepcopy
print(b)

[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [100, 6]]

#built in functions that can be used within a list
del 
len
max
min
sum
sorted

In [40]:
a=[1,2,3,4,7,8]
print(len(a))

a=[1,2,3,4,7,8]
print(sum(a))

a=[1,2,3,4,7,8]
print(max(a))


a=[1,2,3,4,7,8]
print(min(a))


a=[1,2,3,4,7,8]
print(sorted(a))

a=[1,3,2,4,6,8]
new_a=sorted(a)
print(a)
print(new_a)



a=[1,2,3,4,7,8]
del(a[1:3])
print(a)

del(a[0])
print(a)

6
25
8
1
[1, 2, 3, 4, 7, 8]
[1, 3, 2, 4, 6, 8]
[1, 2, 3, 4, 6, 8]
[1, 4, 7, 8]
[4, 7, 8]

In [ ]:
#membership operators ***
#in and not in
a=[34,23,53]
print(34 in a)
print(35 in a)
print(35 not in a)
print(53 not in a)

True
False
True
False

#TUPLES-
Tuples are ordered, heterogenous, immutable(not changeable),allows duplicates

In [ ]:
a=(1,2,3)
print(type(a))


a=(1,2,3,"red",1,2,3,4,5)
print(type(a))

print(a[0])     #indexing
print(a[0:3])   #slicing

<class 'tuple'>
<class 'tuple'>
1
(1, 2, 3)

In [ ]:
#tuple - methods are count,index

a=(3,4,3,3,6,5,7,4,3,6,)
print(a.count(3))
print(a.index(6))



t=6,7,8     #tuple packing (packing all given elements)
print(type(t))

a,b,c=t     #tuple unpacking
print(a)
print(b)
print(c)

4
4
<class 'tuple'>
6
7
8

In [55]:
#built in functions that can be used for tuple
a=(3,4,6,7,8,3)
print(len(a))
print(max(a))
print(min(a))
print(sum(a))

6
8
3
31