#indentation-
means spacing to differentiate between blocks of code
if(condition):print("True"):print("False")

if(condition):
     print("true")
print("false")

In [8]:
a=6
b=7

if(b>a):
    print("b is greater than a")
print("this is outside")

b is greater than a
this is outside

conditional statements-
if statement

if else statement

if elif else

nested if

match case

truthy/falsy

this says 
if something is true ->do this otherwise

In [ ]:
#if condition

age=18
if age>=18:
    print("the person is a major")

if True:    #the condition must be true for (if) to execute the block of code
    print("yes")

the person is a major
yes

In [10]:
name=""

if name:
    print("value not present")
    
if not name:
    print("value present")

value present

In [11]:
num=20
num1=11

if num % 2==0:
    print("the number is even")
    
if num1 % 2 !=0:
    print("the number is odd")

the number is even
the number is odd

In [12]:
email="abc@vtricks.com"
if email.endswith("vtricks.com"):
    print("this is a internal user")

this is a internal user

In [ ]:
email=input("enter your email")     #this is for entering the user input and if the given condition is true then it prints and it will not print if the condition is false
if email.endswith("ibm.com"):
    print("this person is an internal user")

this person is an internal user

if condition is true:
    action if true
else:
    action if flase

In [ ]:
#if else
num=int(input("enter a number"))        #typecasting is used because we cant format strings(int)

if num%2==0:
    print("even number")

else:
    print("odd number")

odd number

In [18]:
marks=30

if marks>40:
    print("Pass")
else:
    print("Fail")

Fail

In [22]:
#take a value from the user to check if the value is the same 
#as stored password print valid if true else invalid


password="abc@123"
p1=input("enter the password")
if password==p1:
    print("valid")
else:
    print("invalid")

valid

In [24]:
num=-2

if num>=0:
    print("positive number")
else:
    print("negative number")

negative number

if elif else            #this is for multiple condition
if condition1:
    action
elif condition2:
    action2
else:
    default action

In [34]:

score=int(input("enter your score"))
if score>=90:
    print("grade A")
elif score>=60:
    print("grade B")
else:
    print("grade C")

grade A

In [35]:
income=170000

if income<50000:
    print("5%")
elif income<100000:
    print("10%")
else:
    print("15%")

15%

In [ ]:
income=170000               #same as upper code but here it is showing to print the tax how much to be paid

if income<50000:
    tax=income*0.5
    print("your tax to be paid is",tax)
elif income<100000:
    tax=income*0.10
    print("your tax to be paid is",tax)
else:
    tax=income*0.15
    print("your tax to be paid is",tax)

your tax to be paid is 25500.0

In [ ]:
income=int(input("enter your income"))              #taking the user input

if income<50000:
    tax=income*0.05
    print("your tax to be paid is",tax)
elif income<100000:
    tax=income*0.10
    print("your tax to be paid is",tax)
else:
    tax=income*0.15
    print("your tax to be paid is",tax)

your tax to be paid is 5000.0

nested if

if condition1:
   if condition2:
      action1

In [41]:
#login credentials
user="admin"
password="1234"

if user=="admin":
    if password=="123":
        print("welcome admin")
    else:
        print("wrong password")
else:
    print("invalid user")

wrong password

In [ ]:
#login credentials
user="admin"
password="1234"

if user=="admin":
    if password=="1234":
        print("welcome admin")
    else:
        print("wrong password")
else:
    print("invalid user")

welcome admin

In [44]:
user=input("enter username")
password=input("enter password")

if user=="admin":
    if password=="1234":
        print("welcome admin")
    else:
        print("wrong password")
else:
    print("invalid user")

welcome admin

In [45]:
salary=70000
exp=6

if salary>50000:
    if exp>5:
        print("senior")
    else:
        print("mid level")
else:
    print("junior")

senior

In [46]:
salary=70000
exp=6

if salary>40000:
    if exp>3:
        print("senior")
    else:
        print("mid level")
else:
    print("junior")

senior

match-case

match-value:
    case option1:
        action
    case option2:
        action
    case_:
        default

In [ ]:
role="manager"          #matching with each case

match role:
    case "admin":
        print("full access")
    case "manager":
        print("limited access")
    case _:
        print("access to only view")

limited access

In [48]:
role="admin"

match role:
    case "admin":
        print("full access")
    case "manager":
        print("limited access")
    case _:
        print("access to only view")

full access

In [50]:
role=input("enter your role")

match role:
    case "admin":
        print("full access")
    case "manager":
        print("limited access")
    case _:
        print("access to only view")

access to only view

In [51]:
#ticket status
status="p"

match status:
    case "p":
        print("pending")
    case "c":
        print("closed")
    case "r":
        print("resolved")
    case "w":
        print("waiting")
    case _:
        print("unknown")

pending

In [52]:
city="delhi"

match city:
    case "delhi"|"bangalore":
        print("metro city")
    case _:
        print("tier 2 city")

metro city

In [55]:
city=input("enter your city")

match city:
    case "delhi"|"bangalore":
        print("metro city")
    case _:
        print("tier 2 city")

tier 2 city

values considered false in python
0 
0.0
""
[]
{}
None
False

everything else is true

datasets are mostly full of blanks, nulls and empty collection so truthy/falsy helps detect them quickly

In [1]:
num=0
if num:
    print("block executed")
else:
    print("block did not execute")

block did not execute

In [2]:
num=6
if num:
    print("block executed")
else:
    print("block did not execute")

block executed

In [3]:
name=""
if name:
    print("name existed")
else:
    print("name not exist")

name not exist

In [4]:
name="s"
if name:
    print("name existed")
else:
    print("name not exist")

name existed

In [5]:
value=None
if value:
    print("value existed")
else:
    print("value does not exist")

value does not exist

In [7]:
rows=[]
if rows:
    print("data exist")
else:
    print("data do not exist")

data do not exist

In [ ]:
value=input("enter data")       #here anything apart from no data as in empty data is taken as valid (validation)
if not value:
    print("missing")
else:
    print("valid")

valid

In [1]:
email=input("enter your email")
if not email:
    print("email required")
else:
    print("welcome aboard")

welcome aboard