#dictionary
ordered, changeable, duplicate keys are not allowed values can be of any datatypes, keys must be immutable datatype,a key can only be used once

In [ ]:
a={"apple":"red","orange":"orange","banana":"yellow"}
print(a)
b={1:"apple",2:"orange",3:"banana",4:"grapes"}
print(b)

{'apple': 'red', 'orange': 'orange', 'banana': 'yellow'}
{1: 'apple', 2: 'orange', 3: 'banana', 4: 'grapes'}

In [21]:
#access
print(b[1])
print(b[3])
print(b[4])
print(b.get(5))         #it gives none data instead of throwing an error and it is safe method to access
print(b.get(5,"no value found"))     #get method with not found message

NameError: name 'b' is not defined

In [14]:
#update
a["apple"]="pink"
a["grapes"]="green"
print(a)

#updating multiple values
a.update({"apple":"blue","strawberry":"pink"})
print(a)

{'apple': 'pink', 'orange': 'orange', 'banana': 'yellow', 'strawberry': 'pink', 'grapes': 'green'}
{'apple': 'blue', 'orange': 'orange', 'banana': 'yellow', 'strawberry': 'pink', 'grapes': 'green'}

In [19]:
#pop
a.pop("grapes")     #removes a specfic value
print(a)

KeyError: 'grapes'

In [18]:
#popitem
a.popitem()
print(a)

{'apple': 'blue', 'orange': 'orange', 'banana': 'yellow'}

In [ ]:
#clear
a.clear()       #clears all dictionary items
print(a)

{}

In [ ]:
#methods for view


a.keys()        #gives only the keys
a.values()      #gives only the values
a.items()       #each key:value pair is called an item

dict_items([])

In [31]:
#copy       (shallow copy)
c=b.copy()
print(c)

{1: 'apple', 2: 'orange', 3: 'banana', 4: 'grapes'}

In [32]:
#dict  (another way of creating a dictionary)
d=dict(a="blue",b="green")
print(d)

e=[1,2,3,4]
f=dict.fromkeys(e,0)
print(f)

{'a': 'blue', 'b': 'green'}
{1: 0, 2: 0, 3: 0, 4: 0}

In [34]:
#built in function for dictionaries
print(b)
len(b)

{1: 'apple', 2: 'orange', 3: 'banana', 4: 'grapes'}

4

excercises-
1. create a list, access the first element, access the last element, change or update one value in between the list

2. create a list as nums=[1,2,3,4,5,6]
add 4 at the end, insert 10 at position 1, remove the last element, remove 2

3. nums=[3,6,8,10,2,1,0]
create a sorted copy without changing the original
copy the list into another variable

In [ ]:
#1
a=[1,3,"apple",4.5,True,4+5j]
print(a)
print(a[0])
print(a[5])
a[2]="orange"
print(a)

[1, 3, 'apple', 4.5, True, (4+5j)]
1
(4+5j)
[1, 3, 'orange', 4.5, True, (4+5j)]

In [56]:
#2
a=[1,2,3,4,5,6]
print(a)
a[5]=4
a[0]=10
print(a)

a.remove(2)
print(a)

[1, 2, 3, 4, 5, 6]
[10, 2, 3, 4, 5, 4]
[10, 3, 4, 5, 4]

In [63]:
#3
a=[3,6,8,10,2,1,0]
a.sort()
print(a)

a.reverse()
print(a)


a.sort(reverse=True)
print(a)

import copy
a=[3,6,8,10,2,1,0]
b=copy.deepcopy(a)
print(b)

a=[3,6,8,10,2,1,0]
b=a.copy()
print(b)

[0, 1, 2, 3, 6, 8, 10]
[10, 8, 6, 3, 2, 1, 0]
[10, 8, 6, 3, 2, 1, 0]
[3, 6, 8, 10, 2, 1, 0]
[3, 6, 8, 10, 2, 1, 0]

tuples-
1. t=(10,20,40,20)
access the second element
count how many times 20 appears

2. t=(5,10)
unpack the values into a and b

3. t=(1,2,3)
t[1]=100
explain the error

In [ ]:
#1
t=(10,20,40,20)
print(t[1])

t=(10,20,40,20)
print(t.count(20))

20
2

In [74]:
#2
t=(5,10)
a,b=t
print(a)
print(b)

5
10

In [76]:
#3
t=(1,2,3)
t[1]=100

TypeError: 'tuple' object does not support item assignment

#sets
1. nums=[1,2,3,2,4,5]
convert to a set and store unique values

2. a={10,20,30,40,50}
b={20,40}
remove all elements of b from a using a set method

3. which of the following are valid set elements
1
"abc"
(1,2)
[1,2]

In [ ]:
#1
# a=[1,2,3,4,5]
b=set(a)
print(b)

s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [91]:
#2
a={10,20,30,40,50}
b={20,40}

a.discard(20)
a.discard(40)
print(a)
print(b)

{50, 10, 30}
{40, 20}

#dictionaries
1.
student={"name":"alex","age":22}
access name
safely access city (no error)

2.
student={"name":"alex"}
add age 
update age

3.
student={"name":"alex","age":22,"marks":90}
remove age
remove last inserted item

4.

In [49]:
student={"name":"alex","age":22}
print(student["name"])
city = student.get("city")
city = student.get("city", "Unknown")
print(city)

alex
Unknown

In [54]:
#2
student={"name":"alex"}
student.update({"age": 22})
print(student)
student["age"] = 24
print(student)

{'name': 'alex', 'age': 22}
{'name': 'alex', 'age': 24}

In [60]:
#3
student={"name":"alex","age":22,"marks":90}
del student["age"]
print(student)
student.popitem()
print(student)

{'name': 'alex', 'marks': 90}
{'name': 'alex'}

#nested structures
1. list inside a list
2. list of tuples
3. list of dictionaries
4. dictionaries of lists
5. dictionaries of tuples
6.

In [64]:
#1 list inside a list  (also called matrix)
a=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
]

print(a[2][2])
print(a[1])

9
[4, 5, 6]

In [65]:
#2 list of tuples
b=[
    (1,2,3),
    (4,5,6),
    (7,8,9)
]
print(b[1][2])

6

In [68]:
#3 list of dictionaries 
c=[{1:"red",2:"blue",3:"orange"},
   {"name":"alex","age":22,"subject":"python"},
   {"name":"sam","age":20,"subject":"sql"}
   ]
print(c[2]["age"])
print(c[2]["subject"])

20
sql

In [74]:
#4 dictionaries of list
d={
    "math":[60,70,80],"sql":[60,60,40],"science":[90,80,70]
   }

print(d["science"])
print(d["sql"][1])

[90, 80, 70]
60

In [81]:
#5 dictionaries of tuples
locations={
    "delhi":(26,76,22,45,28.56),
    "mumbai":(19,0,20,56,23.20)
          }

print(locations["delhi"])
print(locations["mumbai"][2])

(26, 76, 22, 45, 28.56)
20

In [ ]:
#nested dictionaries
company={"emp1":{"name":"alex","salary":12300},
         {"emp2":{"name":"sam","salary":60000}}
         }
print(company[1])

SyntaxError: ':' expected after dictionary key (717385468.py, line 3)

In [86]:
#mixed nesting
delta={
         "students":[
             {"name":"alex","marks":[80,90]},
             {"name":"sam","marks":[70,85]}
             
         ]    
}

print(delta["students"][0]["marks"][1])
print(delta["students"][1]["name"])

90
sam

In [101]:
#set inside a list
groups=[{1,2},{3,4},{5,6}]  #indexing is not allowed in sets
print(groups)
print(groups[0])
print(groups[1])
print(groups[1][1])

[{1, 2}, {3, 4}, {5, 6}]
{1, 2}
{3, 4}

TypeError: 'set' object is not subscriptable

In [ ]:
# list inside a tuple
data=([1,2],[3,4])
print(data[0][1])
#

2

In [ ]:
#dictionary inside dictionary, list inside a dictionary
api_data={"results":[
    {"id":1,"score":90},
    {"id":2,"score":85}
]
          }
print(api_data["results"][0]["score"])
print(api_data["results"][1]["score"])

90
85

in a dataset strings or text data can have errors so we have certain methods for cleaning and sorting our data
some examples of unclean strings are

"  bangalore"
"  bangalore  "
"bangalore  "
"Male/Female"
"john@gmail.com"
"2024-01-15"


to clean and reshape data before analysis we are using strings method like
strip()
replace()
split()
join()
find()

In [ ]:
dept="  sales  "
print(dept)
cleaned_dept=dept.strip()
print(cleaned_dept)


dept="  sales"
print(dept)
cleaned_dept=dept.rstrip()
print(cleaned_dept)
cleaned_dept=dept.lstrip()
print(cleaned_dept)


dept="sales  "
print(dept)
cleaned_dept=dept.rstrip()
print(cleaned_dept)
cleaned_dept=dept.lstrip()
print(cleaned_dept)


price="$400$"               #function of strip is to take out the empty spaces or any assigned characters (rstrip-right strip// lstrip-left strip)
clean_price=price.strip("$")
print(clean_price)


price="$400$"
clean_price=price.rstrip("$")
print(clean_price)
clean_price=price.lstrip("$")
print(clean_price)

  sales
sales
  sales
  sales
sales
sales
sales
sales
400
$400
400$

In [15]:
status="not available"
new_status=status.replace("not available","N/A")
print(new_status)
new_status=status.replace(" ","")
print(new_status)


salary="$3,40,000"
print(salary.replace(",",""))


number="+91-090839-823"
print(number.replace("+91-",""))

email="register.45#gmail.com"
print(email.replace("#","@"))

N/A
notavailable
$340000
090839-823
register.45@gmail.com

In [ ]:
full_name="Rahul Sharma"        #split (splitting the assigned value and presenting the output)and gives in the list form
print(full_name.split(" "))


email="rahul@gmail.com"
print(email.split("@"))

date="03-12-2025"
print(date.split("-"))

day,month,year=date.split("-")      #this ia method where it can be accessed easily
print(year)
print(month)
print(day)

['Rahul', 'Sharma']
['rahul', 'gmail.com']
['03', '12', '2025']
2025
12
03

In [25]:
a=["red","orange","blue"]
b=" ".join(a)
print(b)

c="-".join(a)
print(c)

d="+".join(a)
print(d)


nums=["23","12","2025"]
date="/".join(nums)
print(date)

red orange blue
red-orange-blue
red+orange+blue
23/12/2025

In [ ]:
a="data analysis"
print(a.find("analysis"))
print(a.find(" "))
print(a.find("a"))
print(a.find("z"))      # -1 if not found (if the assigned value is not present it shows -1)


first=a.find("a")
print(a.find("a",first+1))  #second occurance of "a"

5
4
1
-1
3

In [ ]:
a="abc[data]/hhsj"      #finding the desired data in the given data
start=a.find("[")
end=a.find("]")
new_a=a[start:end]
print(new_a)

new_a=a[start+1:end]
print(new_a)

[data
data

In [38]:
a="real"
print(a.upper())
b="YELLOW"
print(b.lower())
c="the united states of america"
print(c.capitalize())
print(c.title())

d="  YELLOW"
print(d.strip().lower())        #multiple things can be done 


price=" $1,20,000"
print(price.strip().replace("$","₹").replace(",",""))

REAL
yellow
The united states of america
The United States Of America
yellow
₹120000

isalpha
isdigit
isalnum
startswith
endswith

In [ ]:
a="tiger"
print(a.isalpha())      #sees whether the given item is alphabets or not

b="1234"
print(b.isdigit())

c="123abc"
print(c.isalnum())

email="abc.12@gmail.com"
print(email.startswith("abc"))
print(email.endswith("com"))

True
True
True
True
True

In [ ]:
a="good good service"
print(a.count("good"))      #to count how many times the strings are present in the given item
print(a.count("service"))

2
1

1. take a variable with phone number stored extract last 4 digits from the number
2. take a string to check if value is empty string then print "missing"
3. take a string "john DOE" print it in proper format
--> output "john doe"

In [48]:
#1
phone_number = "123-456-7890"
last_four = phone_number[-4:]
print(last_four)

7890

In [57]:
#2
a=""
print(a.replace("","missing"))

missing

In [ ]:
name = "john DOE"
print(name.lower())

john doe

In [3]:
#1 take a variable with phone number stored extract last 4 digits from the number
phone="+91-988665-6598"
country_code,number,last_4=phone.split("-")
print(last_4)

6598

swapcase
casefold
format

In [6]:
a="aDSrdfAe"                #swaps the given case (swapcase)
print(a.swapcase())


b="wERE"                    #it gives the lower case and it accepts other language characters
print(b.casefold())

c="swaß"
print(c.casefold())

AdsRDFaE
were
swass

In [ ]:
data={"name":"arjun","age":23}          #format_map is for dictionary based formatting
print("his name was {name} and his age was {age}".format_map(data))

his name was arjun and his age was 23

In [11]:
#isascii    #it checks wheteher the given input contains ascii characters if yes gives True if not it gives False
a="hello"
print(a.isascii())

b="bén"
print(b.isascii())

True
False

In [ ]:
#isdecimal      #here decimal is similar to digit
a="12.5"
b="12"
print(a.isdecimal())
print(b.isdecimal())

False
True

In [ ]:
#isspace
a=" "
print(a.isspace())

b="/n"  #escape sequence characters cannot be printed
print(b.isspace())

True
False

REGEX-  (regular expression)


a way to search,extract,validate, or replace text using patterns

examples-
find phone numbers
find emails
remove symbols
split messy data

python uses the re module for this
"import re"

most used functions
re.search()
re.findall()
re.sub()
re.split()
re.match()

REGEX SYMBOLS-
PATTERN                                     MEANING
\d                                          digit
\D                                          non-digit
\w                                          letter/number
\W                                          special character
\s                                          space


.                                           any character
+                                           one or more
*                                           zero or more
^                                           start
$                                           end
[abc]                                       any of a/b/c

In [ ]:
#re.findall()       (returns all matches) start with r for regex function

import re
text="order 123,amount 450"

nums=re.findall(r"\d+",text)
print(nums)

nums=re.findall(r"\d*",text)
print(nums)

nums=re.findall(r"\d^",text)        #digit
print(nums)

nums=re.findall(r"\D+",text)        #non digit
print(nums)

nums=re.findall(r"\w+",text)        #letters or numbers
print(nums)

['123', '450']
['', '', '', '', '', '', '123', '', '', '', '', '', '', '', '', '450', '']
[]
['order ', ',amount ']
['order', '123', 'amount', '450']

In [24]:
#re.sub     (replaces using patterns)

phone="+91-987455 3548"
clean_phone=re.sub(r"\D","",phone)
print(clean_phone)


text="hello@#world"     #special characters
re.sub(r"\W"," ",text)


text="data   science"
re.sub(r"\s+"," ",text)         #space characters

919874553548

'data science'

In [ ]:
#re.split()     (for multiple delimiters)

text="python,SQl | excel"
print(re.split(r"[,|]",text))

date="22-12/2025"
print(re.split(r"[-/]",date))

['python', 'SQl ', ' excel']

['22', '12', '2025']

In [29]:
#re.search()        checks if it exists

text="my id is 123"
result=re.search(r"\d+",text)
print(result)

<re.Match object; span=(9, 12), match='123'>

In [30]:
#re.match() to find the match at the position 1
print(re.match(r"\d","1abc"))
print(re.match(r"\d","abc1"))

<re.Match object; span=(0, 1), match='1'>
None

In [33]:
#extract email username

email="john@gmail.com"
re.findall(r"^\w+",email)
email1="john.123@gmail.com"
re.findall(r"^\w+",email1)
print(email1)

john.123@gmail.com

In [ ]:
#validate pincode (must be 6 digits)

code="560062"
re.match(r"^\d{6}$",code)
bool(re.match(r"^\d{6}$",code))
re.findall(r"^\d{6}$",code)

#since we are validating we need a true or false result hence bool function is used

['560062']

Character
Description
Example

[]
A set of characters
"[a-m]"
\
Signals a special sequence (can also be used to escape special characters)
"\d"
.
Any character (except newline character)
"he..o"
^
Starts with
"^hello"
$
Ends with
"planet$"
*
Zero or more occurrences
"he.*o"
+
One or more occurrences
"he.+o"
?
Zero or one occurrences
"he.?o"
{}
Exactly the specified number of occurrences
"he.{2}o"
|
Either or
"falls|stays"