loops
loops are used to execute the same block of code multiple times without writing the code repeatedly

there are two types of loop
FOR loop
WHILE loop

FOR loop-
a for loop runs once for every item in a collection
collection=list,string,dictionary,etc

syntax-
for item in iterable:
    action

In [1]:
students=["raj","sam","max","rekha"]
for name in students:
    print(name)

raj
sam
max
rekha

In [2]:
genders=["MALE","FEMALE","TRANS"]
for g in genders:
    print(g.lower())

male
female
trans

In [1]:
genders=["male","female","trans"]
for g in genders:
    print(g.upper())

MALE
FEMALE
TRANS

In [ ]:
#with condition
marks=[30,50,90]
for m in marks:
    if m>40:
        print("pass")
    else:
        print("fail")

fail
pass
pass

In [ ]:
word="DATA"     #it is checking for each letter in the given srtings data
for w in word:
    print(w)

D
A
T
A

In [11]:
word="daTA"
for ch in word:
    if ch.lower() in "aeiou":
            print(ch)

a
A

In [12]:
word="data"
for ch in word:
    if ch.lower() in "aeiou":
        print(ch)

a
a

In [13]:
words="data"
for c in words:
    if c in "aeiou":
        print(c)

a
a

In [17]:
emp={"name":"rahul","dept":"IT"}
for k in emp:
    print(k)
for v in emp.values():
    print(v)
for k,v in emp.items():
    print(k,v)

name
dept
rahul
IT
name rahul
dept IT

In [ ]:
#email validation
emails={"abc123@gmail.com","","123abc@gmailcom",""}
for e in emails:
    if not e:
        print("missing")
    else:
        print("print send mail to:",e)

print send mail to: abc123@gmail.com
missing
print send mail to: 123abc@gmailcom

for--> is for fixed condion
while --> is for like until the condition becomes true

while loop-
syntax-

while condition:
   action

In [ ]:
#counting example
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [6]:
value=int(input("enter a value"))
while value:
    print("value exists",value)
    break

value exists 100

In [ ]:
true=[""]
while true:
    print("running forever")

running forever

In [ ]:
#stop at the first failure
marks=[70,80,30,90]
for m in marks:
    if m<40:
        print("fail found")
        break               #break is used to stop loop at a certain point
                            #here break is used to stop at the first failure

fail found

In [ ]:
#continue statement
values=["rahul","","amit"]
for v in values:
    if not v:
        continue
    print(v)
    #empty string is skipped
    #continue is used to skip current iteration and go to the next

rahul
amit

In [ ]:
#pass
#place holder for future code

for n in range(3):
    if n==1:
        pass        #basically does nothing
    else:
        print(n)

0
2

#1
nums=[10,20,30,40,35]
find and print numbers greater than 25

#2
nums=[10,20,40]
add 10 to every number and print

#3 
nums=[20,30,70]
print sum of all numbers

#4
names=["rahul "," amit"," priya]
clean the strings (remove extra spaces)

#5
n=[1,2,4,5,6,8,9,3]
print only even numbers

#6
n=[1,2,3,4,6]
print count of even numbers

#7 
names=["a","b","c"]
print each value along with the index

#8
nums=[10,50,20]
find the max value

In [6]:
#1
nums=[10,20,30,40,35]
for n in nums:
    if n>25:
        print(n)

30
40
35

In [10]:
nums = [10, 20, 40]
for n in nums:
    print(n+10)

20
30
50

In [12]:
nums=[20,30,70]
for n in nums:
    print(n)

20
30
70

In [ ]:
nums=[20,30,70]
total=sum(nums)
print(total)

nums = [20, 30, 70]
total = 0
for n in nums:
     total+=n
print(total)

120
120

In [33]:
names = ["rahul ", " amit", " priya"]
cleaned_names=[]
for n in names:
    clean_name = n.strip()
    cleaned_names.append(clean_name)
print(cleaned_names)

['rahul', 'amit', 'priya']

In [34]:
n=[1,2,4,5,6,8,9,3]
for x in n:
    if x % 2==0:
        print(x)

2
4
6
8

In [37]:
n = [1, 2, 3, 4, 6]
count=0
for x in n:
    if x % 2 == 0:  
        count+= 1
print(count)

3

In [ ]:
#print every index and its value
names = ["a", "b", "c"]

for n in range(len(names)):
    print(n,names[n])

0 a
1 b
2 c

In [ ]:
nums=[10,50,20]
max=nums[0]
for n in nums:
    if n>max:
        max=n
print(max)

50

while loop 
#1
print 1 to 5
#2
print 5 to 1

#3
print even numbers uptill 10

In [43]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [49]:
i=5
while i>=1:
    print(i)
    i-=1

5
4
3
2
1

In [51]:
i=2
while i<=10:
    print(i)
    i+=2

2
4
6
8
10

In [53]:
#print every number multiplied by 2 uptill 5
i=1
while i<=5:
    print(i*2)
    i+=1

2
4
6
8
10

In [1]:
i = 2
while i <= 10:
    print(i)
    i += 2

2
4
6
8
10

In [3]:
#sum of numbers from 1 to 5
i=1
total=0
while i<=5:
    total+=i
    i+=1
print(total)

15

In [4]:
#count digits in a number

number=12345
count=0
while number>0:
    number=number//10
    count=count+1
print("digits:",count)

digits: 5

In [7]:
#keeping asking password untill correct password
password=input("enter your password")
while password!="admin":
    print("enter the correct password")
    break
print("enter granted")

enter granted

In [ ]:
#keeping asking password untill correct password
password=""
while password!="admin":
    password=input("enter the password")
    if(password!="admin"):
        print("enter the right password")
print("access granted")

enter the right password
access granted

In [11]:
#loop through a list using while
names=["rahul","amit","priya"]
i=0
while i<len(names):
    print(names[i])
    i=i+1

rahul
amit
priya

In [ ]:
#stop when value found      #here i is index position
#stop the loop when 20 is found
nums=[10,11,12,20,30,40]
i=0
while i<len(nums):
    if nums[i]==20:
        print("value found")
        break
    print("number found is:",nums[i])
    i=i+1

number found is: 10
number found is: 11
number found is: 12
value found

In [13]:
#stop when value found
#stop the loop when 20 is found
nums=[10,11,12,20,30,40]
i=0
while i<len(nums):
    if nums[i]==20:
        print("value found")
        break
    i=i+1

value found

In [24]:
#skip even numbers between 1 to 10
i=0
while i<=10:
    if i%2==0:
        i=i+1
        continue
    print(i)
    i=i+1

1
3
5
7
9

In [ ]:
#skip odd numbers between 1 to 10
i=0
while i<10:
    i+=1
    if i%2!=0:  
        continue   
    print(i)

2
4
6
8
10

In [32]:
#find max in a list
nums=[10,45,20,99,30]
max_val=nums[0]
i=0
while i<len(nums):
    if nums[i]>max_val:
        max_val=nums[i]
    i=i+1
print(max_val)

99

In [ ]:
#print square upto 10
i=1
while i<=10:
    square=i**2 
    print(f"Number:{i}, Square:{square}")
    i+=1

Number: 1, Square: 1
Number: 2, Square: 4
Number: 3, Square: 9
Number: 4, Square: 16
Number: 5, Square: 25
Number: 6, Square: 36
Number: 7, Square: 49
Number: 8, Square: 64
Number: 9, Square: 81
Number: 10, Square: 100

In [35]:
#print largest even number
nums=[11,22,33,44,66]
largest_even=-1
for n in nums:
    if n%2==0 and n>largest_even:
        largest_even=n
print(largest_even)

66

In [38]:
#print largest even number
nums=[11,22,33,44,66]
i=0
max_val=0
while i<len(nums):
    if nums[i]%2==0 and nums[i]>max_val:
        max_val=nums[i]
    i=i+1
print("largest even number is:",max_val)

largest even number is: 66